.container_filter {
    max-width: 25%;
    height: 100%;
    min-width: 224px;
}

.container_filter span {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 140%;
    color: #898989;
}
.container_filter h2 {
    margin: 5px 0 12px 0;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 140%;
    color: #1B1B1B;
}
.container_filter h3 {
    margin-bottom: 12px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 140%;
    color: #1B1B1B;
    margin-bottom: 12px;
}
.filter_price-wrapper {
    margin-bottom: 24px;
}
.filter_price-wrapper h3 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 140%;  
    color: #1B1B1B;    
}
.filter_price-field {
    display: flex;
}
.filter_price-field input {
    width: 112px;
    height: 40px;
    border: 1px solid #DBDBDB;
    padding: 11px 10px;
    transition: .5s;
}
.filter_price-field input::placeholder {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 140%;
    color: #1B1B1B;
}
.filter_price-field input:first-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.filter_price-field input:last-child {
    border-top-right-radius: 4px;
    border-top-right-radius: 4px;
}
.filter_brand-field-wrapper {
    margin-bottom: 6px;
}
.input-checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
    user-select: none;
  }
  .input-checkbox + label {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    color: #1B1B1B;
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    user-select: none;
  }
  .input-checkbox + label::before {
    content: "";
    display: inline-block;
    width: 18px;
    height: 18px;
    border: 1px solid #d0d0d0;
    background-repeat: no-repeat;
    border-radius: 4px;
    margin-right: 0.5em;
    background-position: center center;
    background-size: 60% 60%;
  }
  .input-checkbox + label:hover::before {
    border: 1px solid #a7a7a7;
    border-radius: 4px;
  }
  .input-checkbox:checked + label::before {
    border-color: #7993a6;
    background-color: #7993a6;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
  }

@media (max-width: 1240px) {
    .container_filter {
        max-width: 75%;
        margin: 0 auto 34px;
        display: flex;
        flex-direction: column;
    }
    .container_filter h2 {
        order: 1;
        margin: 27px 0 24px 0;
    }
    .filter_price-wrapper {
        order: 3;
        margin: 18px 0 24px 0;
    }
    .filter_brand-wrapper {
        order: 4;
    }
    .container_filter span {
        order: 2;
    }
}

@media (max-width: 942px) {
    .container_filter {
        max-width: 80%;
        margin: 0 auto 34px;
        display: flex;
        flex-direction: column;
    }
    .container_filter h2 {
        order: 1;
        margin: 27px 0 24px 0;
    }
    .filter_price-wrapper {
        order: 3;
        margin: 18px 0 24px 0;
    }
    .filter_brand-wrapper {
        order: 4;
    }
    .container_filter span {
        order: 2;
    }
}