.container_items {
    flex: 0 0 72%;
    margin-left: 38px;
}
.item_block-wrapper {
    max-width: 242px;
    grid-column-gap: 24px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
}
.item_block {
    border: 1px solid #E6E6E6;
    border-radius: 4px;
    margin-bottom: 24px;
}
.item_block-image-wrapper {
    position: relative;
}
.item_block-new {
    position: absolute;
    width: 79px;
    height: 26px;
    top: 12px;
    left: 12px;
    border-radius: 26px;
    background: #44C477;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.item_block-new span {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    line-height: 140%;
    letter-spacing: 0.05em;
    text-transform: uppercase; 
    color: #FFFFFF;
}
.item_block-image {
    height: 242px;
    width: 242px;
    border-radius: 4px 4px 0px 0px;
    cursor: pointer;
}
.item_block h4{
    margin: 12px 0 0 16px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 140%;
    color: #1B1B1B;
    height: 50px;
    cursor: pointer;
}
.item_block-price-field {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 16px 18px 16px;
}
.item_block-price-field h3 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 140%;
    color: #1B1B1B;
    user-select: none;
}
.item_block-price-field span {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 140%;
    color: #1B1B1B;
    user-select: none;
    cursor: pointer;
}
.item_block-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 16px 16px 16px;
}

.item_block-button {
    width: 106px;
    height: 40px;
    border: 1px solid #DBDBDB;
    padding: 10px 12px 12px;
    border-radius: 8px;
    background: transparent;
    cursor: pointer;
}
.item_block-button span {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 140%;
    color: #1B1B1B;
}
.item_block-svg {
    cursor: pointer;
    fill: black;
  }
.active {
    fill: red;
    animation: beat 0.4s linear alternate;
  }
@keyframes beat {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
    }
  }
@media (max-width: 1600px) {
    .item_block-wrapper {
        grid-template-columns: repeat(3, 1fr);
    }
}
@media (max-width: 1240px) {
    .container_items {
        margin: 0 auto;
        max-width: 75%;
    }
    .item_block-wrapper {
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 24px;
    }
}
@media (max-width: 942px) {
    .container_items {
        margin: 0 auto;
    }
    .item_block-wrapper {
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 24px;
        
    }
}


@media (max-width: 645px) {
    .container_items {
        max-width: 100%;
        margin: 0 auto;
    }
    .item_block-wrapper {
        grid-template-columns: repeat(1, 1fr);
        margin: 0 auto;
        max-width: 100%
    }
    .item_block {
        position: relative;
        padding-bottom: 20px;
        margin-bottom: 20px;
        display: flex;
        justify-content: center;
        border: none;
        border-bottom: 1px solid #E6E6E6;
    }
    .item_block-image {
        height: 142px;
        width: 142px;
        border-radius: 4px 4px 0px 0px;
        cursor: pointer;
    }
    .item_block-new {
        top: 6px;
        left: 6px;
    }
    .item_block h4{
       width: 195px;
       margin: 0;
    }
    .item_block-info-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-left: 16px;
    }
    .item_block-price-field {
        margin: 0;
    }
    .item_block-footer {
        margin: 0;
    }
}