@import './components/all.css';

* {
    padding: 0;
    margin: 0;
    list-style: none;
    outline: none;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
  }
  body {
    background-color: #E5E5E5;
  }
  .wrapper {
    height: 100%;
    background-color: #fff;
    width: calc(100vw - 100px);
    max-width: 1600px;
    margin: 50px auto;
    
  }
  .container {
    margin: 0 auto;
    padding: 64px;
  }

  .content {
    display: flex;
    justify-content: center;
  }






  @media (max-width: 1240px) {

    .container {
        padding: 20px;
        
    }
    .content {
      display: block;
      width: 75%;
      margin: 0 auto;
  }
  }
  @media (max-width: 942px) {
    .wrapper {
      width: calc(100vw - 30px);
      margin-top: 20px;
    }
    .content {
        display: block; 
    }
  }